body{
    background-color: darkslategray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 94vh;
}

#corpo{
    background-color: white;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0px 0px 8px black;
}

#tela{
    background-color: rgb(160, 179, 170);
    width: 95.9%;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
    font-size: 70px;
    text-align: right;
    padding-right: 15px;
}

.fileira{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.fileira button{
    padding: 20px;
    width: 80px;
    border-radius: 10px;
    border: 0px;
    cursor: pointer;
    font-size: 25px;
    box-shadow: 0px 0px 5px black;
}

button:hover{
    background-color: rgb(160, 167, 167);
}

.carac{
    padding: 0px;
    font-size: 20px;
}