@media screen and (max-width: 500px) {

    body {
        background-color: rgb(64, 63, 63);
    }

    form {
        background-image: url(imagens/montanha-vertical-black.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        max-width: 80vw;
        height: 80%;
        margin: 40px auto;
        padding: 10px;
        text-align: center;
        border-radius: 15px;
    }

    form h1 {
        margin-top: 20px;
        font-size: 4em;
    }

    .caixa-texto {
        margin-top: 20%;
        margin-bottom: 20px;
    }

    .caixa-texto input {
        width: 90%;
        height: 8vh;
        margin-top: 30px;
        border-radius: 10px;
        border: 0px;
        text-align: center;
        font-size: 17px;
    }

    .botao input {
        width: 40%;
        padding: 12px;
        margin-top: 30%;
        border-radius: 10px;
        border: 0px;
        background-color: white;
        font-size: 17px;
    }

    .texto-final p {
        font-size: 13px;
        margin-top: 10%;
        color: white;
    }

    .texto-final a {
        text-decoration: none;
        color: white;
    }
}