* {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

body {
    background-color: rgba(0, 0, 0, 0.79);
}

@media screen and (max-width: 600px) {

    main {
        background-image: url(imagens/montanha-vertical-black.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin-top: 5vh;
        width: 80vw;
        height: 90vh;
        border-radius: 15px;
        box-shadow: 0px 0px 5px black;
        margin: 10px auto;
    }

    form h1 {
        text-align: center;
        padding-top: 30px;
        font-size: 60px;
    }

    form .entrada-dados {
        margin-top: 6vh;
        text-align: center;
        padding-top: 50px;
    }

    .entrada-dados input {
        text-align: center;
        margin-bottom: 20px;
        width: 60vw;
        padding: 20px;
        border-radius: 10px;
        border: 0px;
        font-size: 15px;
        background-color: rgba(215, 212, 212, 0.849);
    }

    ::placeholder {
        color: black;
    }

    .botoes {
        text-align: center;
        margin-top: 20vh;
    }

    .botoes input {
        padding: 15px;
        border-radius: 10px;
        border: 0px;
        width: 35vw;
        margin-right: 5px;
        margin-left: 5px;
        font-size: 15px;
        background-color: rgba(255, 255, 255, 0.671);
        cursor: pointer;
    }

    .texto-ajuda {
        text-align: center;
        display: flex;
        justify-content: space-around;
    }

    .texto-ajuda a {
        text-decoration: none;
        color: white;
        font-size: 12px;
    }

    .texto-final {
        text-align: center;
        color: white;
        font-size: 11px;
        margin-top: 40px;
    }

    .texto-final a {
        text-decoration: none;
        color: white;
    }

}

@media screen and (min-width: 600px) {
    main {
        background-image: url(imagens/montanha-horizontal.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin-top: 5vh;
        width: 80vw;
        height: 90vh;
        border-radius: 20px;
        margin: 20px auto;
    }

    form h1 {
        text-align: center;
        padding-top: 20px;
        font-size: 50px;
        color: white;
    }

    form .entrada-dados {
        text-align: center;
        margin-top: 7vh;
        padding-top: 50px;
    }

    .entrada-dados input {
        text-align: center;
        margin-bottom: 40px;
        width: 50vw;
        padding: 22px;
        border-radius: 10px;
        border: 0px;
        font-size: 15px;
        background-color: rgba(255, 255, 255, 0.833);
    }

    ::placeholder {
        color: black;
    }

    .botoes {
        text-align: center;
        margin-top: 15vh;
    }

    .botoes input {
        padding: 15px;
        border-radius: 10px;
        border: 0px;
        width: 12vw;
        margin-right: 20px;
        margin-left: 20px;
        font-size: 15px;
        background-color: white;
        cursor: pointer;
    }

    .texto-ajuda {
        display: flex;
        gap: 10vw;
        color: white;
        gap: 10px;
        justify-content: space-around;
    }

    .texto-ajuda a {
        text-decoration: none;
        color: white;
        font-size: 16px;
    }

    .texto-final {
        text-align: center;
        color: white;
        font-size: 14px;
        margin-top: 6vh;
    }

    .texto-final a {
        text-decoration: none;
        color: white;
    }

}