
/* COMANDO PARA TELAS DEITADAS */

body{
    background-image: url(https://img.freepik.com/premium-vector/sunset-mountains-wild-mountains-landscape_263779-1389.jpg?semt=ais_user_personalization&w=740&q=80);
}