body{
    background-color: black;
    font: arial, sans-serif;
    text-transform: uppercase;
    margin: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

h1{
    color: white;
    text-align: center;
}